input.data {
   width: 100%;
   height: 100px;
   text-align: right;
   font-size: 36px;
}
.column-3{
    width: 75%;
    float: left;
}
.column-2{
    width: 50%;
    float: left;
}
.column-1{
    width: 25%;
    float: left;
}
button.calc-button {
    width: 100%;
    height: 100px;
    border: 2px solid #ddd;
    background-color: #eee;
    font-size: 36px;
}